@mixin mobile() {
    @media only screen and (max-width: 749px) {
        @content;
    }
  }
  
  @mixin tablet() {
    @media only screen and (max-width: 980px) {
        @content;
    }
  }
  
  @mixin mobilelandtablet() {
      @media only screen and (max-width: 980px) and (orientation: landscape)  {
          @content;
      }
  }
  
  
  @mixin desktop() {
    @media only screen and (max-width: 1100px) {
        @content;
    }
  }
  
  @mixin lgdesktop() {
      @media only screen and (min-width: 1101px) {
          @content;
      }
    }
  
    @mixin mobileland() {
      @media only screen and (min-width: 30em) and (orientation: landscape)  {
          @content;
      }
  }

  @function calculateRem($size) {
    $remSize: $size / 16px;
    @return #{$remSize}rem;
  }
  
  @mixin fontSize($size) {
    font-size: $size; //Fallback in px
    font-size: calculateRem($size);
  }
  


html, body { margin:0;padding:0; font-size:100%; }
a { text-decoration: none; color:#000;}

  .container 
  {
      .tabholder 
      { 
          width:100%;
          
          ul 
          { 
            display:flex;
            height:100px; 
            border-bottom:1px solid #ccc;
              li 
              {
                border-left:1px solid #ccc;
                border-top:1px solid #ccc;
                list-style-type: none;
                font-family: 'Verdana, sans-serif';
                @include fontSize(20px);
                font-weight:bold;
                display:block;
                    &:last-of-type
                    {
                        border-right:1px solid #ccc;
                    }
                a 
                {
                    display:block; 
                    height:100%;
                    width:100%;
                    padding:20px;
                    &:hover 
                    {

                    }
                }
              }
          }

      }
  }